<div class="row footer-row">
  <div class="col cards">
    <div class="top-small-border"></div>
    <div class="middle-heading">
      We will sell only the meat that we would eat ourselves.
    </div>
    <p class="bottom-text">
      At Licious, we’re big meat-lovers. And by big, we mean huge. So when it
      comes to the meat we put on your plate, we’re extremely picky. Every
      single product is handpicked by a team with years of experience.
    </p>
  </div>
  <div class="col cards">
    <div class="top-small-border"></div>
    <div class="middle-heading">If it’s not fresh, we won’t sell it</div>
    <p class="bottom-text">
      For meat to stay fresh and retain its natural juices, it needs to be
      stored at a temperature between 0° and 5°C. We maintain this temperature
      from the time we procure the product to cleaning, cutting and storing it,
      until it leaves for delivery. And even when it’s out for delivery, we keep
      it chilled right up to your doorstep.Did we mention that we’re obsessed?
    </p>
  </div>
  <div class="col cards">
    <div class="top-small-border"></div>
    <div class="middle-heading">We will charge only for what you buy</div>
    <p class="bottom-text">
      Doesn’t everyone do this? Not really. Most other places first weigh the
      meat, then cut up the pieces, and throw out the parts which aren’t fit to
      eat, such as offal, gizzard, wingtips, etc. But you still pay based on the
      original weight even though what you finally get is 10% to 30% less
    </p>
  </div>
</div>
<div class="row footer-middle-content">
  <div class="col-2">LOGO</div>
  <div class="col-10 logo-line"></div>
</div>
<div class="row">
  <div class="col">
    <span>1</span>
  </div>
  <div class="col">2</div>
  <div class="col">3</div>
</div>
