<div>
  <div class="cat-header-container">
    <h5 class="title_2">Bestsellers</h5>
    <h6 class="text_1">Most popular products near you!</h6>
  </div>
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let bestseller of bestsellers">
        <div>
          <img src="../../../assets/bestsellers/{{ bestseller.src }}" />
          <span>{{ bestseller.title }}</span>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
