.title_1,
.title_2 {
  font-family: Lato Bold;
  color: #0d0d0e;
  line-height: 128%;
  font-size: 20;
}

.cat-header-container {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  background: #fff !important;
}

::ng-deep .owl-nav .owl-prev {
  position: absolute;
  top: 25%;
  left: 0%;
  right: 100%;
  width: 42px;

  --offset: calc(-42px - 1rem);
  display: none;
  place-items: center;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.078);
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  height: 42px;
  right: var(--offset);
  cursor: pointer;
}

::ng-deep .owl-nav .owl-next {
  position: absolute;
  top: 25%;
  left: 98%;
  right: 0%;
  width: 42px;

  --offset: calc(-42px - 1rem);
  display: none;
  place-items: center;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.078);
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  height: 42px;
  right: var(--offset);
  cursor: pointer;
}

::ng-deep .carousel-next-btn {
  margin-top: 6px;
}

::ng-deep .carousel-prev-btn {
  margin-top: 6px;
  //  transform: rotate(180deg);
}

::ng-deep .owl-theme .owl-nav .disabled {
  opacity: 0;
}

.card-icon {
  border-radius: 12px;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.price-wrapper {
  word-wrap: normal;
  margin-top: 6px;
  margin-bottom: 4px;
}

.quantity-span {
  opacity: 0.8;
  margin-top: 0.5rem;
  height: 16.8px;
}

.actual-price-itm {
  text-decoration-line: line-through;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.discount-itm {
  color: #26955d;
}

.card-content-area {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.text_1,
.text_2 {
  font-family: Lato Regular;
  color: #4d4d4f;
}

.text_2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.card-itm {
  cursor: pointer;
}
.add-to-cart {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 6px;
  width: 40px;
  height: 32px;
  bottom: -8px;
  right: -8px;
  top: 45%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.add-to-cart-extended {
  position: absolute;
  width: 86px;
  height: 32px;
  bottom: -8px;
  right: -8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  top: 45%;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  justify-content: space-evenly;
}

.plus-icon {
  width: 12px !important;
  aspect-ratio: auto 12 / 12;
  height: 12px;
}

.minus-icon {
  width: 12px !important;
  aspect-ratio: 12 / 12;
  height: 12px;
}

.view-all {
  background-color: #faf7f2;
  display: grid;
  place-content: center;
  border-radius: 0.75rem;
  color: #d11243;
  height: 100%;
  cursor: pointer;
  height: 18rem;
  width: 80%;
}

.hidden {
  display: none;
}
