<nav class="navbar navbar-expand-lg bg-body-tertiary header-nav">
  <div class="container-fluid d-flex">
    <a class="row navbar-brand" href="#">
      <img
        src="../../../assets/licious-logo.svg"
        alt="Logo"
        width="100"
        height="52"
        class="d-inline-block align-text-top"
      />
    </a>

    <div class="row nav-section-2">
      <div class="nav-item dropdown location-block">
        <div class="fw-bolder p-e-2">
          <span
            ><img
              src="../../../assets/icons/Other-label.svg"
              class="align-middle p-e-4"
              width="16"
              height="16"
          /></span>
          Pune
          <span class="p-s-4"
            ><img
              src="../../../assets/icons/new_chevron.svg"
              class="align-middle"
              width="8"
              height="8"
          /></span>
        </div>
        <div class="fw-normal text_2 m-l-3" style="padding-left: 19px">
          Pune, Maharashtra, India
        </div>
      </div>
    </div>

    <form class="row d-flex" role="search">
      <input
        class="nav-search"
        type="search"
        placeholder="Search for any delicious product"
      />
    </form>

    <div class="row header-left-section">
      <div class="left-section-itm">
        <img
          src="../../../assets/icons/categories-grey.svg"
          alt="Categories dropdown"
        /><span>Categories</span>
      </div>

      <div class="left-section-itm">
        <img
          src="../../../assets/icons/profile-grey.svg"
          alt="Profile"
          height="20"
          width="20"
          loading="lazy"
        /><span>&nbsp;Login</span>
      </div>

      <div
        *ngIf="checkoutData.quantity === 0"
        class="left-section-itm"
        (click)="openCart()"
      >
        <img
          src="../../../assets/icons/cart.svg"
          alt="Cart"
          height="20"
          width="20"
          loading="lazy"
          class="p-e-2"
        />
        <span>Cart</span>
      </div>
      <div
        *ngIf="checkoutData.quantity !== 0"
        class="left-section-itm"
        (click)="openCart()"
      >
        <div class="cart-border cart-not-empty">
          <img
            src="../../../assets/icons/cart-active.svg"
            alt="Cart"
            height="20"
            width="20"
            loading="lazy"
          />
          <div class="">
            <div class="text_2 black_text">
              <span
                ><b>{{ checkoutData.quantity }} items</b></span
              >
            </div>
            <span style="color: #d11243"
              ><b>₹{{ checkoutData.amount }}</b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
