.title_1,
.title_2 {
  font-family: Lato Bold;
  color: #0d0d0e;
  line-height: 128%;
  font-size: 20;
}

.cat-header-container {
  padding: 2rem;
}

.cat-imgs {
  width: 60%;
  margin: auto;
}

.cat-text {
  display: block;
}
