<div class="nav-header sticky-top" style="background: #fff">
  <app-header [checkoutData]="cart.checkoutData"></app-header>
</div>

<div class="container" style="max-width: 1200px; overflow: hidden">
  <div class="row p-2">
    <app-home-coupon></app-home-coupon>
  </div>
  <div class="row">
    <app-categories></app-categories>
  </div>
  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="bestsellersHeading"
      [subHeading]="bestsellersSubHeading"
      [data]="bestsellersData"
    ></app-bestsellers>
  </div>
  <div class="row">
    <app-fresh></app-fresh>
  </div>
  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="combosHeading"
      [subHeading]="combosSubHeading"
      [data]="combosData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="lowersHeading"
      [subHeading]="lowersSubHeading"
      [data]="lowersData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="breakfastHeading"
      [subHeading]="breakfastSubHeading"
      [data]="breakfastData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="bonelessHeading"
      [subHeading]="bonelessSubHeading"
      [data]="bonelessData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="topRatedHeading"
      [subHeading]="topRatedSubHeading"
      [data]="topRatedData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="lowersHeading"
      [subHeading]="lowersSubHeading"
      [data]="lowersData"
    ></app-bestsellers>
  </div>

  <div class="row">
    <app-bestsellers
      [cart]="cart"
      [heading]="breakfastHeading"
      [subHeading]="breakfastSubHeading"
      [data]="breakfastData"
    ></app-bestsellers>
  </div>
</div>
<app-footer></app-footer>
